#app {
  height: 100%;
}

.main {
  display: flex;
  align-items: end;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  border:1px solid black;

  // @media (max-width: 768px) {
  //   flex-wrap: wrap;
  // }

  
  @media (max-width: 1280px) {
    padding: 2% 20px;
  }
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
    padding: 1% 2%;
    flex-wrap: wrap;
  }

  // @media (max-width: 768px) {
  //   padding: 1% 2%;
  // }
  
}


// .container {
//   padding: 2% 20%;

//   @media (max-width: 1280px) {
//     padding: 2% 20px;
//   }

//   @media (max-width: 768px) {
//     padding: 1% 2%;
//   }
// }

.border-right {
  border-color: var(--right-color);
}

.border-left {
  border-color: var(--left-color);
}

.color-right {
  color: var(--right-color);
}

.color-left {
  color: var(--left-color);
}

.bg-right {
  background-color: var(--right-color);
}

.bg-left {
  background-color: var(--left-color);
}

.button {
  justify-self: center;
  align-self: center;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 100%;
  border-style: solid;
  border-width: 0px;
}

.panels {
  gap: 40px;
  display: flex;
  justify-content: space-between;
}

.header {
  grid-area: header;

  h1 {
    font-size: 75px;
  }
}

.description {
  grid-area: description;
  padding-left: 20px;
  font-size: large;
}

.controls {
  grid-area: controls;
  padding-left: 20px;
  display: flex;
}

.building {
  width: 480px;
  grid-area: building;
  position: relative;

  @media (max-width: 768px) {
    width: 85%;
    // height: 50vh;
  }
}

.building__body {
  position: relative;
  border-right: 25px solid var(--primary-color);
  border-left: 25px solid var(--primary-color);
  display: flex;
  @media (max-width: 768px) {
   
    // height: 40vh;
  }
}

.building__roof {
  margin-bottom: 8px;
  height: 10vh;
  position: relative;

  // @media (max-width: 768px) {}
}

.building__roof-triangle {
  height: 100%;
  background-color: var(--primary-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: relative;
}

.building__roof-rectangle {
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.building__roof-circle {
  width: 45px;
  height: 45px;
  background: var(--background-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.building__shaft {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.building__shaft::before {
  content: "";
  position: absolute;
  top: 9px;
  bottom: 0;
  left: 50%;
  border-left: 6px dashed;
  transform: translateX(-50%);
}

.building__shaft--right::before {
  border-color: var(--right-color);
}

.building__shaft--left::before {
  border-color: var(--left-color);
}

.building__lobby {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-top: 2%;
  justify-content: space-between;
  @media (max-width: 768px) {
    padding-top: 9px;
  }
}

.building__lobby-floor {
  display: flex;
  justify-content: center;
  gap: 2%;
  align-items: center;
  background-color: var(--primary-color);
  height: 60px;
  // padding-bottom: 100%;
  @media (max-width: 768px) {
    height: 3.75vh;
  }
}

.building__writing {
  text-align: center;
  line-height: normal;
  font-size: smaller;
}

.building__floorButton {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 2.8vh;
  // width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-color: var(--primary-color);

  &:hover {
    cursor: pointer;
  }
}

.building__floorButton--selected {
  background-color: yellow;
}

.building__floor--current {
  background-color: green;
}

.elevator {
  background-color: var(--background-color);
  transition: bottom 0.2s linear;
  border-style: solid;
  border-width: 2px;
  position: absolute;
  width: 80%;
  height: 60px;
  justify-content: center;

  @media (max-width: 768px) {
    height: 3.75vh;
  }
}

.elevator--right {
  border-color: var(--right-color);
}

.elevator--left {
  border-color: var(--left-color);
}

.elevator__door {
  position: absolute;
  height: 100%;
  width: 50%;
}

.elevator__door--right {
  right: 0;
}

.elevator__door--left {
  left: 0;
}

.elevator__indicator {
  z-index: 2000;
}

.elevator-panel {
  border-style: solid;
  border-width: 3px;
  padding-bottom: 2.5vh;
}

.elevator-panel__indicators {
  color: var(--background-color);
  align-items: center;
  font-size: 3vh;
  border: 7px solid var(--background-color);
  display: flex;
  justify-content: space-around;
  padding: 1vh;
}

.elevator-panel__direction-indicator {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  @media (max-width: 768px) {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}


.elevator-panel__direction-indicator--up {
  border-bottom: 15px solid var(--background-color);
}

.elevator-panel__direction-indicator--down {
  border-top: 15px solid var(--background-color);
}

.elevator-panel__floor-number{
  width: 16px;
}

.elevator-panel__floor-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 21px;

  
  @media (max-width: 1024px) {
    grid-gap: 10px;
  }

  @media (max-width: 768px) {
    padding:2vh;;
  }
  
}


.elevator-panel__floor-button {
  color: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  font-size: 32px;
  height: 50px;
  width: 50px;
  border-style: solid;

  @media (max-width: 768px) {
    font-size: 17px;
    height: 4vh;
    aspect-ratio: 1 / 1;
    width: auto;
  }

  &:hover {
    cursor: pointer;
  }
}

.elevator-panel__floor-button--selected {
  color: var(--background-color);
  border-color: var(--background-color);
  background-color: transparent;
}

.elevator-panel__action-buttons {
  color: inherit;
  border-color: inherit;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.elevator-panel__action {
  color: inherit;
  height: 30px;
  width: 30px;
  font-size: 13px;
  display: inline-flex;
  justify-content: center;

  @media (max-width: 768px) {
    font-size: 8px;
    height: 2.5vh;
    aspect-ratio: 1 / 1;
    width: auto;
  }

  &:hover {
    cursor: pointer;
  }
}

.indicator__elevatorState {
  color: navy;
}

.indicator__elevatorDesignation {
  color: purple;
}